@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Two Weekends';
  font-style: normal;
  font-weight: bolder;
  src: local('Two Weekends'), url('./assets/polices/twoweekendssans-regular.otf') format('otf');
}

@font-face {
  font-family: 'Eurostile Regular';
  font-style: normal;
  font-weight: bolder;
  src: local('Eurostile Regular'), url('./assets/polices/eurostile.woff') format('woff');
}


html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Two Weekends", 'Eurostile Regular', poppins, bahnschrift, sans-serif;
}